@charset "UTF-8";

body, html {
    min-width: 200px;
}


@media screen and (max-width: 500px) {
    header #logo {
        display: block;
        margin: auto;
        float: none;
        text-align: center;
    }

    header nav {
        width: 100;
        float: none;
        display: block;
        text-align: center;
    }

    header nav a {
        display: inline-block;
        text-align: center;
    }
    
    #page {
        margin-top: 20vh;
    }
}